/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 60%;
  margin: 0 auto;
}

.wrapper--header {
  width: 100%;
}

.header__top {
  padding: 2px 20% 6px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
}
.header__top .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.header__top .contact-info__list {
  padding: 0 1% 0 3%;
  border-right: 1px solid rgba(155, 155, 155, 0.3);
  -ms-flex-preferred-size: 34%;
  flex-basis: 34%;
}
.header__top .contact-info__list:first-child {
  padding-left: 0;
}
.header__top .contact-info__list:last-child {
  border-right: none;
  padding-right: 0;
}
.header__top .contact-info__list_link {
  color: #A1AAA7;
  display: block;
  font-size: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__top .contact-info__list_link::before {
  margin-right: 3%;
  color: #3ED9A5;
  font-family: "FontAwesome";
  font-size: 11px;
  float: left;
}
.header__top .contact-info__list_link--tel::before {
  content: "\f095";
}
.header__top .contact-info__list_link--mail::before {
  content: "\f0e0";
}
@media only screen and (min-width: 995px) {
  .header__top .contact-info__list_link:hover {
    color: #3ED9A5;
  }
}
.header__top .header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}
.header__top .header-social__list {
  margin: 0 1.5% 0 3%;
}
.header__top .header-social__list_link {
  color: #A1AAA7;
  font-size: 10px;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__top .header-social__list_link::before {
  font-family: "Font Awesome 5 Brands";
  float: left;
  text-indent: 0;
}
.header__top .header-social__list_link--facebook::before {
  content: "\f39e";
}
.header__top .header-social__list_link--twitter::before {
  content: "\f099";
}
.header__top .header-social__list_link--dribbble::before {
  content: "\f17d";
}
.header__top .header-social__list_link--instagram::before {
  content: "\f16d";
}
@media only screen and (min-width: 995px) {
  .header__top .header-social__list_link:hover {
    color: #3ED9A5;
  }
}

.header-bottom {
  padding: 8px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
}
.header-bottom__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 38%;
  flex-basis: 38%;
}
.header-bottom__left .logo__link {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-bottom__left .logo__link_color {
  color: #3ED9A5;
}
@media only screen and (min-width: 995px) {
  .header-bottom__left .logo__link:hover {
    color: #3ED9A5;
  }
}
.header-bottom__left .search {
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%;
}
.header-bottom__left .search__cta {
  padding: 8px 8px;
  border: 1px solid rgba(155, 155, 155, 0.3);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  color: #3ED9A5;
  font-size: 11px;
  text-indent: -9999px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-bottom__left .search__cta::before {
  content: "\f002";
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}
@media only screen and (min-width: 995px) {
  .header-bottom__left .search__cta:hover {
    background-color: #3ED9A5;
    color: #fff;
  }
}
.header-bottom__left .search__keyword {
  padding: 7px 6%;
  border: 1px solid rgba(155, 155, 155, 0.3);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 12px;
}
.header-bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}
.header-bottom__right .hamburger {
  display: none;
}
.header-bottom__right .navbar {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}
.header-bottom__right .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  justify-content: flex-end;
}
.header-bottom__right .navbar__menu_list {
  margin-right: 6%;
}
.header-bottom__right .navbar__menu_list_link {
  color: #A1AAA7;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-bottom__right .navbar__menu_list_link--active {
  color: #3ED9A5;
}
@media only screen and (min-width: 995px) {
  .header-bottom__right .navbar__menu_list_link:hover {
    color: #3ED9A5;
  }
}
.header-bottom__right .auth__cta {
  padding: 8px 18px;
  border-radius: 4px;
  background-color: #3ED9A5;
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .header-bottom__right .auth__cta:hover {
    background-color: #00b377;
  }
}

.home .banner .wrapper {
  width: 100%;
  position: relative;
}
.home .banner__image {
  position: absolute;
}
.home .banner__content {
  width: 60%;
  padding: 70px 0;
  margin: 0 auto;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  text-align: center;
}
.home .banner__content_tag_line {
  margin-top: 66px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.home .banner__content_heading {
  margin-top: 3px;
  color: #fff;
  font-size: 36px;
}
.home .banner__content .connect__cta {
  padding: 8px 18px;
  margin-top: 24px;
  border-radius: 4px;
  background-color: #3ED9A5;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 995px) {
  .home .banner__content .connect__cta:hover {
    background-color: #00b377;
  }
}
.home .banner__card {
  width: 60%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
.home .banner__card_list {
  border-radius: 4px;
  margin-right: 10.7%;
  -ms-flex-preferred-size: 23.5%;
  flex-basis: 23.5%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.home .banner__card_list_link {
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #A1AAA7;
  font-size: 14px;
}
.home .banner__card_list_link::before {
  padding: 10px;
  border-radius: 50%;
  margin-right: 15%;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 24px;
  float: left;
}
.home .banner__card_list:nth-child(1) .banner__card_list_link::before {
  content: "\f086";
  background-color: #3ED9A5;
}
.home .banner__card_list:nth-child(2) .banner__card_list_link::before {
  content: "\f132";
  padding: 10px 13px;
  background-color: #4E59FE;
}
.home .banner__card_list:nth-child(3) .banner__card_list_link::before {
  content: "\f290";
  background-color: #F73C84;
}

/*# sourceMappingURL=style.css.map */
