// colors
$primary-color: #3ED9A5;
$secondary-color: #2E3B38;
$tertiary-color: #4E59FE;
$primary-dark: #00b377;
$black: #000;
$white: #fff;
$pink: #F73C84;
$text-color: #A1AAA7;
$footer-icon-bg: #26312F;
$top-cta: #A8ADAC;
$border-color: rgba(155, 155, 155, .3);
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-hover: rgba(0, 0, 0, 0.5);
$heading-color: #353738;

// responsive devices breakpoints
$laptop : 1024px;
$tablet : 995px;
$iPad : 768px;
$mobile : 540px;
$iPhone : 375px;
$hover : 995px;