.home {
  // banner section started here
  .banner {
    .wrapper {
      width: 100%;
      position: relative;
    }

    &__image {
      position: absolute;
    }

    &__content {
      width: 60%;
      padding: 70px 0;
      margin: 0 auto;
      @include transform(translate(0));
      text-align: center;

      &_tag_line {
        margin-top: 66px;
        color: $white;
        @include fontProperty(null, 14px);
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      &_heading {
        margin-top: 3px;
        color: $white;
        @include fontProperty(null, 36px);
      }

      .connect__cta { margin-top: 24px; }
    }

    &__card {
      width: 60%;
      margin: 40px auto;
      @include flexBox(flex, null, center);
      @include transform(translate(0));

      &_list {
        border-radius: 4px;
        margin-right: 10.7%;
        @include flexBasis(23.5%);
        background-color: $white;
        box-shadow: 0 2px 6px $shadow-color;
        @include transition(all .3s ease);

        &_link {
          padding: 14px;
          @include flexBox(flex, null, center);
          color: $text-color;
          @include fontProperty(null, 14px);

          &::before {
            padding: 10px;
            border-radius: 50%;
            margin-right: 15%;
            color: $white;
            @include fontProperty('FontAwesome', 24px);
            float: left;
          }
        }

        &:nth-child(1) .banner__card_list_link::before {
          content: '\f086';
          background-color: $primary-color;
        }

        &:nth-child(2) .banner__card_list_link::before {
          content: '\f132';
          padding: 10px 13px;
          background-color: $tertiary-color;
        }

        &:nth-child(3) .banner__card_list_link::before {
          content: '\f290';
          background-color: $pink;
        }

        &:last-child { margin-right: 0; }

        @include reverseResponsive($hover) {
          &:hover { box-shadow: 0 2px 6px $shadow-hover; }
        }
      }
    }
  }
  // banner section ended here
  // health center section started here
  .health-center {
    .wrapper {
      padding-top: 30px;
      @include flexBox(flex);
    }

    &__left {
      margin-right: 10%;
      @include flexBasis(48%);

      &_paragraph {
        margin-top: 6px;
        color: $text-color;
        @include fontProperty(null, 11px, null, null, 1.5);
      }

      &_learn_more_cta { margin-top: 16px; }
    }

    &__right {
      @include flexBasis(35%);
    }
  }
  // health center section ended here
  // our doctor section started here
  .our-doctor {
    .wrapper--doctor { width: 53%; }

    .main-heading--capitalize {
      padding-top: 56px;
      text-transform: capitalize;
      text-align: center;
    }

    &__card {
      margin-top: 44px;
      @include flexBox(flex, null, null, null, wrap);

      &_list {
        margin-right: 13%;
        box-shadow: 0 2px 6px $shadow-color;
        @include transition(all .3s ease);

        &_content { padding: 10px 7%; }

        &_position {
          padding: 3px 0;
          color: $text-color;
          @include fontProperty(null, 10px);
          text-transform: capitalize;
        }

        &:nth-child(3n) { margin-right: 0; }

        @include reverseResponsive($hover) {
          &:hover { box-shadow: 0 2px 6px $shadow-hover; }
        }
      }
    }

    .slider-action {
      padding-bottom: 60px;
      margin-top: 26px;
      @include flexBox(flex, null, null, null, null, center);

      &__cta {
        padding: 7px 1.5%;
        background-color: $primary-color;
        color: $white;
        @include fontProperty(null, 10px);
        text-indent: -9999px;
        @include transition(all .3s ease);

        &::before {
          @include fontProperty('FontAwesome');
          float: left;
          text-indent: 0;
        }

        &--left {
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;

          &::before { content: '\f060'; }
        }

        &--right {
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;

          &::before { content: '\f061'; }
        }

        @include reverseResponsive($hover) {
          &:hover { background-color: $primary-dark; }
        }
      }
    }
  }
  // our doctor section ended here
  // latest news section started here
  .latest-news {
    background-color: $yellowish;

    .wrapper--news { width: 56%; }

    .main-heading--capitalize {
      text-align: center;
      text-transform: capitalize;
    }

    &__card {
      margin-top: 40px;
      @include flexBox(flex);

      &_list {
        margin-right: 11%;
        @include flexBasis(25.5%);
        box-shadow: 0 2px 6px $shadow-color;
        @include transition(all .3s ease);

        &_image {
          position: relative;

          &_caption {
            padding: 4px 6px;
            border-radius: 25px;
            position: absolute;
            top: 12px;
            left: 8%;
            background-color: $tertiary-color;
            color: $white;
            @include fontProperty(null, 9px);
          }
        }

        &_content {
          padding: 12px;

          &_info {
            margin-top: 8px;
            @include flexBox(flex, null, center);

            &_image {
              width: 20px;
              margin-right: 2%;

              & img { border-radius: 50%; }
            }

            &_name {
              margin-right: 2%;
              font-size: 9px;
            }

            &_date { font-size: 9px; }
          }
        }

        &:nth-child(3n) { margin-right: 0; }

        @include reverseResponsive($hover) {
          &:hover { box-shadow: 0 2px 6px $shadow-hover; }
        }
      }
    }

    &__cta {
      padding: 24px 0 57px;
      text-align: center;
    }
  }
  // latest news section ended here
}